# Ignore VS Code settings folder
.vscode/

# Ignore build/output folders
build/
bin/
*.o
*.obj
*.exe
*.out
Tetris
Makefile
CMakeCache.txt
CMakeFiles/
.DS_Store

# Ignore temporary files
*.log
*.tmp
*.swp